.col-full.columns_2, .col-full.columns_3, .col-full.columns_4 { display: flex; flex-wrap: wrap; }
.columns_2 .footer-column { width: 50%; }
.columns_3 .footer-column { width: 33.333%; }
.columns_4 .footer-column { width: 25%; }
.copyright_section p { margin-bottom: 0; }
/*custom for this site*/
.col-full.columns_1 {max-width: 100%;padding: 81px 0!important;}
p.footer_heading {text-align: center;font-size: 28px;color: #fff;line-height: 34px;padding-bottom: 24px;border-bottom: 2px solid #fff;width: fit-content;margin: 0 auto 24px;font-family: Inter-light;}
.cru_footer ul { list-style-type: none; margin: 0; text-align: center; }
.cru_footer ul li { display: inline-block; margin-right: 35px; }
.cru_footer ul li:last-child { margin-right: 0px!important; }
.cru_footer ul li a {color: #fff!important;text-decoration: none!important;font-size: 16px;}
.footer_social_media_icons { text-align: center; margin-top: 24px; }
.footer_social_media_icons a.social_url { display: inline-block; color: #fff!important; }
ul.footer_bottom {background-color: #302E2F;padding: 17px 0;margin-top: 0;}
ul.footer_bottom a, ul.footer_bottom p { font-size: 13px; line-height: 17px; color: #fff; }
ul.footer_bottom a { text-decoration: underline!important; }
.footer_social_media_icons a, .footer_social_media_icons i, .footer_social_media_icons p, .social_media_icons a, .social_media_icons i {
    color: #fff;
    font-size: 25px;
    margin-bottom: 0;
    line-height: 1;
}
@media only screen and (max-width: 768px){
	.columns_4 .footer-column { width: 50%; }
}
@media only screen and (max-width: 600px){
	.columns_2 .footer-column, .columns_3 .footer-column, .columns_4 .footer-column { width: 100%; }
	.cru_footer ul:not(.footer_bottom) li { display: block; margin-right: 0; margin-bottom: 16px; }
	.cru_footer ul.footer_bottom li:last-child { display: block; margin-top: 24px; }
	.cru_footer ul.footer_bottom li:nth-last-child(3) {margin-right: 0;}
	.cru_footer ul.footer_bottom li:nth-last-child(2) { margin-right: 0; margin-top: 20px; }
}