.in-grid {
    max-width: 750px;
    padding: 115px 0;
    width: 100%;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.header {
    font-size: 40px;
    color: #231f20;
    font-weight: 100;
    line-height: 1;
}

.header:after {
    content: '';
    width: 95px;
    display: block;
    height: 1px;
    background-color: #000;
    margin: 24px auto 0;
}

.content-txt {
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 23px;
    color: #231f20;
}

.button a, .button {
    max-width: fit-content;
}

.prod_section-header {
    width: 100%;
    padding-top: 115px;
    padding-left: 5%;
}

.prod_section-header p {
    font-size: 40px;
    color: #231f20;
    font-family: inter-light;
    font-weight: 100;
    line-height: 1;
}

span.separator {
    font-size: 40px;
    margin-left: 14px;
    margin-right: 14px;
    font-family: Inter-light;
}

a.link_to_shop {
    font-size: 24px;
    border: none !important;
    text-decoration: none !important;
    border-bottom: 1px dotted #231f20 !important;
    color: #231f20;
    font-family: Inter-light;
}

.prod_slider_txt {
    margin-bottom: 50px;
    max-width: 850px;
    padding-left: 5%;
    text-align: left;
}