.article_feat_image {height: 350px;width: 100%;background-size: cover;background-position: center;margin-bottom: 24px;display: block!important;}

.all_posts {
    display: flex;
    flex-wrap: wrap;
    gap: 45px 50px;
    max-width: 90%;
    margin: 100px auto;
}

article.post-article {
    width: calc(33.3333% - 34px);
}

h2.article_title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    font-family: inter-light;
    margin-bottom: 24px;
}

h2.article_title:after {
    content: '';
    width: 70px;
    height: 1px;
    display: block;
    background-color: #231f20;
    margin-top: 24px;
}

p.shor_desc {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 24px;
}

a.article_link {
    padding: 11px 30px;
    text-decoration: none !important;
    border: 1px solid #231f20;
    font-weight: 600;
    transition: all .3s ease;
}

a.article_link:hover {
    color: #fff;
    background-color: #231f20;
}