.logo img {
    height: auto
}

.logo {
    max-width: 150px;
    vertical-align: middle;
    display: inline-block
}

.logo svg {
    max-height: 49px
}

header#masthead {
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    transition: all .3s ease-in
}

.header-container {
    padding: 30px 0;
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto
}

li.menu-item {
    display: inline-block;
    margin-right: 25px;
    font-size: 24px
}

li.menu-item:last-child {
    margin-right: 0!important
}

.menu-list {
    vertical-align: middle;
    display: inline-block;
    margin-left: auto
}

header#masthead.fixed {
    position: fixed
}

.header_notif {
    text-align: center;
    position: relative;
    padding: 17.5px 0
}

a.banner-close {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 24px
}

.header_notif p {
    margin-bottom: 0;
    font-size: 13px
}

a.left_hamburger {
    margin-left: auto;
    color: #000;
    font-size: 26px
}

.right-popup-menu li.menu-item,.left-popup-menu li.menu-item {
    display: block;
    margin-right: 0;
    margin-bottom: 16px
}

.logo p {
    margin-bottom: 0;
    text-align: center
}

.right-popup-menu,.left-popup-menu {
    position: fixed;
    background-color: #231f20;
    max-width: 350px;
    width: 100%;
    text-align: center;
    top: 0;
    height: 100vh;
    display: none
}

.left-popup-menu {
    left: 0;
    right: unset;
    padding: 158px 101px 75px 70px;
    z-index: 999;
}

.right-popup-menu .menu-main-menu-container,.left-popup-menu .menu-main-menu-container {
    text-align: left
}

a.hamburger_close {
    position: absolute;
    right: 50px;
    top: -84px;
    font-size: 34px;
    color: #fff;
    line-height: 1;
    font-family: inter-light
}

.left-popup-menu a.hamburger_close {
    left: -36px;
    right: unset
}

.header-container.logo_centered_right_hamb .header_left_area,.header-container.logo_centered_right_hamb .logo,.header-container.logo_centered_right_hamb .header_right_area {
    width: 33.3333%;
    max-width: 33.333%
}

.logo img {
    max-height: 150px;
    margin: 0 auto
}

.header-container.logo_centered_right_hamb .header_right_area {
    text-align: right
}

.header-container.logo_centered_left_hamb .header_left_area,.header-container.logo_centered_left_hamb .logo,.header-container.logo_centered_left_hamb .header_right_area {
    width: 33.3333%;
    max-width: 33.333%
}

.logo img {
    max-height: 150px;
    margin: 0 auto
}

.header-container.logo_centered_left_hamb .header_left_area {
    text-align: left
}

ul#menu-main-menu {
    margin: 0;
    padding: 0;
}

.content-bottom-container {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%
}

a.social_url {
    font-size: 24px;
    color: #fff;
    margin-right: 24px
}

a.social_url:last-child {
    margin-right: 0
}

.left-popup-menu-inner {
    position: relative;
    height: -webkit-fill-available
}

.social_media_icons {
    text-align: left
}

ul.sub-menu {
    margin-left: 0;
    margin-top: 14px
}

a.hamburger_close:after {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    content: "Close menu";
    margin-left: 16px;
    color: #fff!important
}

.hamburger_close i.fa-solid.fa-xmark {
    display: inline-block;
    vertical-align: middle;
    color: #fff!important
}

.sub-menu li {
    font-size: 16px
}

.menu li a {
    font-size: 28px;
    color: #fff!important;
    font-family: inter-light
}

.menu .sub-menu li a {
    font-size: 16px;
    font-family: lora
}

.header_notif a {
    margin-left: 8px;
    text-decoration: underline;
    color: #fff
}

ul.header_footer_menu {
    list-style-type: none;
    text-align: left;
    margin-left: 0;
    margin-bottom: 40px
}

.header_footer_menu li a {
    color: #fff;
    font-size: 14px;
    font-family: inter-light
}

.header_footer_menu li {
    line-height: 1;
    margin-bottom: 16px
}

.header_footer_menu li:last-child {
    margin-bottom: 0
}

div#header_cart_info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
    line-height: 1
}

.header_right_area {
    text-align: right
}

.header_right_content {
    display: inline-block;
    vertical-align: middle
}

a.login_right {
    font-size: 21px;
    font-size: 21px;
    color: #000
}

#header_cart_info a {
    font-size: 21px;
    color: #000;
    line-height: 1
}

header#masthead.scrolled {
    background-color: rgba(0,0,0,.5)
}

.dark i,.dark .logo svg path {
    color: #231f20;
    fill: #231f20
}

.dark.scrolled i,.dark.scrolled .logo svg path {
    color: #fff;
    fill: #fff
}

header i {
    color: #fff
}

.logo svg path {
    fill: #fff
}

.dark .header_right_area a:first-child{
	color: #231f20;
}

.dark.scrolled .header_right_area a:first-child{
	color: #fff;
}

.header_right_area a:first-child {
    /* margin-right: 24px; */
    /* font-size: 24px; */
    /* line-height: 1; */
    /* font-family: inter-light; */
    /* color: #fff; */
}

.header_right_area p {
    margin-bottom: 0
}

.header_right_area a {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.dark .header_right_area a {
    color: #000
}

.light .header_right_area a {
    color: #fff;
    line-height: 1
}

.header_right_area {
    display: flex;
    justify-content: end!important;
    align-items: center;
    gap: 15px;
}

.page-subheading {
    width: 90%;
    margin: 48px auto 24px;
    align-items: normal !important;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.stack.page_header_container .wp-block-column {
    flex-basis: 66.66%;
}

.stack.page_header_container .wp-block-column.btn_col {
    flex-basis: 33.33%;
}

.stack.page_header_container p.page_title_text {
    font-size: 18px;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .right-popup-menu,.left-popup-menu {
        max-width:100%
    }
}

@media only screen and (max-width: 580px) {
    .header_right_content a:first-child {
        display:none
    }
}