.product-block {
    padding-left: 5%;
}
div#terrior {
    height: 700px;
    margin-top: 115px;
}

#terrior .halo-block {
    padding: 0;
}

#terrior a.image.image-adapt.adaptive_height {
    padding: 0!important;
}

#terrior a.image.image-adapt.adaptive_height img {
    position: relative;
    height: 100%;
    max-height: 700px;
}

#terrior .content-box {
    left: unset;
    right: 5%;
}

#terrior a.image.image-adapt.adaptive_height:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(168deg,rgba(14,15,11,0) 40%,rgb(15,16,12) 100%);
    display: block;
    z-index: 1;
}
main#MainContent {
    padding: 0;
}